<div>
  <mat-form-field>
    <mat-select (selectionChange)="onServiceChange($event)" placeholder="Select a service">
      <mat-option *ngFor="let service of msegServices" [value]="service.value">
        {{ service.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select (selectionChange)="onAppChange($event)" [disabled]="!isServiceAvailable" placeholder="Select an app">
      <mat-option *ngFor="let app of msegAppsPerService" [value]="app.value">
        {{ app.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select (selectionChange)="onDurationChange($event)" [disabled]="!areAppsAvailable" placeholder="Select duration">
      <mat-option *ngFor="let timeFrame of duration" [value]="timeFrame.value">
        {{ timeFrame.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="isCustomDurationSelected">
    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="startpicker" placeholder="Choose start date">
      <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
      <mat-datepicker #startpicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field *ngIf="isCustomDurationSelected">
    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="endpicker" placeholder="Choose end date">
      <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
      <mat-datepicker #endpicker></mat-datepicker>
  </mat-form-field>
  <button (click)="getQosData()" [disabled]="!readyToFetch" mat-raised-button color="violet">Fetch</button>
</div>
